<div>
    <h3>Adicionar Nova Categoria</h3>
  </div>
  <form class="example-container" [formGroup]="categoriaForm" (ngSubmit)="addCategoria(categoriaForm.value)">
    <mat-form-field>
      <input matInput name="nome" placeholder="Nome da Categoria" formControlName="nome">
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea  matInput name="imagemUrl" placeholder="Imagem" formControlName="imagemUrl"></textarea>
    </mat-form-field>
    <br>
     <br>
    <button type="submit" [disabled]="!categoriaForm.valid" mat-button color="primary" >Adicionar</button>
  </form>
  